<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    
    <form action="~/Name.cshtml" method="post">
            Enter name:
            <input type="text" id="name" name="name">
            <input type="submit" value="Submit">
    </form>
</body>
</html>
