* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box; }

h1 {
  padding: 10px; 
  font-size: 64px}

#cart {
  background-color: #7897e2;
  border: 5px black solid;
  width: 350px;
  position: fixed;
  text-align: center;
  padding: 10px;
  top: 0;
  right: 0; 
  }

table {
  margin: 10px;
	font-size: 24px;
	border-spacing: 20px 10px	}
  
 table tr td {
    margin:10px 10px 10px 10px; 
	
	}
	
button.addtocart{
	font-size: 24px;
}
